.wrapper {
    width: min(100% - 4rem, 90rem);
    margin-inline: auto;
}

:root {
    --bg-color: hsl(30, 54%, 90%);
    --main-bg-color: hsl(0, 0%, 100%);
    --block-bg-color: hsl(330, 100%, 98%);
    --main-heading-color: hsl(24, 5%, 18%);
    --h3-color: hsl(14, 45%, 36%);
    --pharagraph-color: hsl(30, 10%, 34%);
    --h4-color: hsl(332, 51%, 32%);
    --nutrition-color: hsl(14, 45%, 36%);
    --list-color: hsl(14, 45%, 36%);
    --line-color: hsl(30, 18%, 87%);
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
    margin-top: 0;
    font-family: 'Young Serif', serif;
}

h1 {
    font-size: 2.25rem;
    font-size: clamp(2.25rem, 2.0114503817rem + 1.0178117048vw, 2.5rem);
    line-height: 1;
    margin-block-end: 1.5rem;
    color: var(--main-heading-color);
}

h3 {
    font-size: 1.75rem;
    line-height: 1;
    margin-block-end: 1.5rem;
    color: var(--h3-color);
}

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Outfit', serif;
    color: var(--h4-color);
    margin-block-end: 16px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-block-end: 0.5rem;
    color: var(--pharagraph-color);
}
p.outfit {
    font-family: 'Outfit', serif;
}
p.gabarito {
    font-family: 'Gabarito', serif;
}
p.nutritions {
    color: var(--nutrition-color);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

#main {
    background-color: var(--main-bg-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

figure,
blockquote {
    margin: 0;
}

ol,
ul {
    margin-block-end: 0;
}

ol li,
ul li {
    color: var(--list-color);
}

section {
    margin-block-end: 32px;
}

section:last-child {
    padding-block-end: 40px;
    margin-block-end: 0;
}

ol li span,
ul li span {
    color: var(--pharagraph-color);
    display: block;
    margin-block-end: 8px;
    padding-inline-start: 16px;
    font-family: 'Outfit', serif;
    line-height: 1.5;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.visually-hidden:focus {
    left: 0;
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid;
}

@media (min-width: 43.75em) {
    #main {
        margin-block: 128px;
        margin-inline: clamp(
            4.75rem,
            -14.9642857143rem + 41.0714285714vw,
            22rem
        );
        border-radius: 24px;
    }
}

@media (min-width: 43.75em) {
    .main-image {
        width: min(100% - 4rem, 90rem);
        margin-inline: auto;
        width: -moz-fit-content;
        width: fit-content;
        padding-block-start: 40px;
        margin-block-end: 40px;
    }
}
.main-image__image {
    transform: scale(102%);
    max-width: 41rem;
}
@media (min-width: 43.75em) {
    .main-image__image {
        transform: scale(100%);
    }
}

.preparation__block {
    background-color: var(--block-bg-color);
    padding: 24px 24px;
}
.preparation__list-item {
    color: hsl(14, 45%, 36%);
}

.vLine__wrapper {
    display: block;
    height: 1px;
    background-color: var(--line-color);
}

.nutrition__table-item {
    padding-inline-start: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nutrition__table-item p {
    font-family: 'Outfit', serif;
    display: inline;
}
.nutrition__table-item p:nth-child(2) {
    font-weight: bold;
}
